<a href="https://colab.research.google.com/github/jonnie763/DATA-690-Data-Structures-and-Algorithms/blob/main/hw_12_rius_jonathan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NOTE: This assignment is adapted from: https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb

1. Given a list of states = ['VA', 'MD', 'NY', 'NJ', 'TX'] and arbitrarary census data = list(range(10)), construct a MultiIndex object from the product of the two lists. Use it to index a ``Series`` of random numbers. Call this Series s.

**Note you will have multiply indexed series with state name as the 1st level of index and census data (0 to 9) as the 2nd level index**

In [2]:
import pandas as pd # Necessary Libraries 
import numpy as np
import random

In [3]:
states= ['VA','MD','NY','NJ']
numbers = list(range(10))
mi = pd.MultiIndex.from_product([states, numbers])
s = pd.Series(np.random.rand(40), index=mi)
s

VA  0    0.416032
    1    0.817367
    2    0.886315
    3    0.950252
    4    0.196700
    5    0.210110
    6    0.224470
    7    0.612943
    8    0.206975
    9    0.311997
MD  0    0.439981
    1    0.936799
    2    0.296439
    3    0.424686
    4    0.508847
    5    0.516678
    6    0.587226
    7    0.773015
    8    0.100979
    9    0.813310
NY  0    0.592815
    1    0.261478
    2    0.338863
    3    0.750685
    4    0.552689
    5    0.946104
    6    0.397864
    7    0.962165
    8    0.427232
    9    0.544830
NJ  0    0.718018
    1    0.792832
    2    0.512986
    3    0.907033
    4    0.188438
    5    0.122598
    6    0.243690
    7    0.670788
    8    0.432609
    9    0.365355
dtype: float64

2. Check whether the index of s is lexicographically sorted. If not, apply sorting to ensure that you can use index slicing.

In [4]:
s.index.is_lexsorted() # Need to Sort

False

In [5]:
s=s.sort_index() # Sort to ensure slicing 
s

MD  0    0.439981
    1    0.936799
    2    0.296439
    3    0.424686
    4    0.508847
    5    0.516678
    6    0.587226
    7    0.773015
    8    0.100979
    9    0.813310
NJ  0    0.718018
    1    0.792832
    2    0.512986
    3    0.907033
    4    0.188438
    5    0.122598
    6    0.243690
    7    0.670788
    8    0.432609
    9    0.365355
NY  0    0.592815
    1    0.261478
    2    0.338863
    3    0.750685
    4    0.552689
    5    0.946104
    6    0.397864
    7    0.962165
    8    0.427232
    9    0.544830
VA  0    0.416032
    1    0.817367
    2    0.886315
    3    0.950252
    4    0.196700
    5    0.210110
    6    0.224470
    7    0.612943
    8    0.206975
    9    0.311997
dtype: float64

3. Select the labels 1, 3 and 6 from the second level of the MultiIndexed ``Series``.

In [6]:
s.loc[:, [1, 3, 6]] # Index these labels

MD  1    0.936799
    3    0.424686
    6    0.587226
NJ  1    0.792832
    3    0.907033
    6    0.243690
NY  1    0.261478
    3    0.750685
    6    0.397864
VA  1    0.817367
    3    0.950252
    6    0.224470
dtype: float64

4. Slice the ``DataFrame`` df; slice up to 4th state of the first level and from label 8 onwards for the second level.

In [7]:
s_slice=s.loc[:,[1,3,6]] # Slice from sort 

print("Sliced data is \n",s_slice)

Sliced data is
 MD  1    0.936799
    3    0.424686
    6    0.587226
NJ  1    0.792832
    3    0.907033
    6    0.243690
NY  1    0.261478
    3    0.750685
    6    0.397864
VA  1    0.817367
    3    0.950252
    6    0.224470
dtype: float64

 5. Sum the values in s for each label in the first level (you should have Series giving you a total for labels 'VA', 'MD', 'NY', 'NJ' and 'TX').

In [8]:
s.sum(level=0) # Find sum

MD    5.397962
NJ    4.954346
NY    5.774726
VA    4.833161
dtype: float64

6. Using unstack, create a ``DataFrame`` from s. States index will become new columns.

In [9]:
df=s.unstack(level=0) # unstacking the states so that the index will become columns

print("The dataframe is\n",df)

The dataframe is
          MD        NJ        NY        VA
0  0.439981  0.718018  0.592815  0.416032
1  0.936799  0.792832  0.261478  0.817367
2  0.296439  0.512986  0.338863  0.886315
3  0.424686  0.907033  0.750685  0.950252
4  0.508847  0.188438  0.552689  0.196700
5  0.516678  0.122598  0.946104  0.210110
6  0.587226  0.243690  0.397864  0.224470
7  0.773015  0.670788  0.962165  0.612943
8  0.100979  0.432609  0.427232  0.206975
9  0.813310  0.365355  0.544830  0.311997